* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-transform: capitalize;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.text-primary{
    color: orange;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
nav ul {
    display: flex;
    align-items: center;
    
    
}
.btn-primary{
    width: 130px;
    height: 64px;
    
    background-color: orange;
    color: white;
    
    
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.bannner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
