* {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
.MUNTASIR {
  color: orange;
}
ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: inline-block;
}
ul li {
  list-style-type: none;
  float: right;
}
ul li a {
  color: black;
  text-decoration: none;
  padding: 12px 16px;
  display: inline-block;
}
.waliullah {
  display: flex;
  justify-content: space-between;
  
  align-items: center;
}
.tgtugbjmbm {
  color: lightcoral;
}
.rumi {
  color: skyblue;
}
.firstparent {
  display: flex;
  justify-content: space-between;
}
.firstbtn {
  background: orange;
  width: 150px;
  height: 45px;
  border-radius: 10px;
}
.JHIGJIS {
  font-size: 40px;
}
.firstcolour {
  background-color: lightgreen;
}
body{
    padding: 0 ;
    margin: 0 ;
}
.what i do{
    text-align: center;
}
