* {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
.firstspan {
  color: #fd6e0a;
  font-size: 40px;
  display: inline-block;
}
.firsth1 {
  font-size: 40px;
  display: inline-block;
}
.first-btn {
  background-color: #fd6e0a;
  width: 140px;
  height: 45px;
  border-radius: 6px;
  font-size: 20px;
  color: white;
}
ul {
  padding: 0;
  margin: 0;

  overflow: hidden;
  display: flex;
  align-items: center;
}
ul li {
  color: black;
  float: right;
  list-style-type: none;
  padding: 12px 16px;
  display: block;
}
.firstparent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}
.firsth2 {
  font-size: 47px;
}
.secondbtn {
  background-color: #fd6e0a;
  width: 140px;
  height: 50px;
  border-radius: 6px;
  font-size: 16px;
  color: white;
}
.thirdbtn {
  background-color: white;
  width: 120px;
  height: 45px;
  border-radius: 6px;
  font-size: 16px;
  color: #fd6e0a;
  margin: 20px;
}
.secondparent {
  display: flex;
  justify-content: space-between;
  background-image: url("header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.jhghbjhj {
  text-align: center;
  padding: 100px;
  background-color: #fff8f3;
  margin: 100px;
}
.section-title {
  text-align: center;
}
.section-despriton {
  text-align: center;
  color: gray;
  font-size: 20px;
}
.ghfhgjfj {
  background-color: #fff8f3;
  padding: 100px;
  margin: 100px;
  text-align: center;
}
.ronaldo {
  display: flex;
  justify-content: space-between;
}
.about-title {
  color: gray;
}
.about-about {
  color: black;
}
.center {
  text-align: center;
  padding: 40px;
}
.skill-container {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  gap: 30px;
}
.skill {
  background-color: #fff8f3;
  box-shadow: 11px 10px 35px 6px rgba(235, 212, 212, 0.75);
  -webkit-box-shadow: 11px 10px 35px 6px rgba(235, 212, 212, 0.75);
  -moz-box-shadow: 11px 10px 35px 6px rgba(235, 212, 212, 0.75);
}
.idkh1 {
  text-align: center;
  font-size: 35px;
}
.last-parent {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 50px;
  gap: 80px;
}
.lestright {
  font-size: 24px;
}
.lastleft {
  font-size: 24px;
}
.lastp {
  font-size: 17px;
  color: gray;
}
body {
  padding: 0 150px;
}
body {
  background-image: url("developer.png");
  background-repeat: no-repeat;
}
.h4 {
  color: gray;
  font-size: 20px;
}
.skill-title {
  font-size: 20px;
  margin: 20px;
}
.skill-description {
  color: gray;
  margin: 20px;
}
.nodeee {
  margin: 20px;
}
.p {
  color: gray;
}
.lost-h1 {
  font-size: 30px;
}
.last-prent {
  display: flex;
  justify-content: space-between;
}
textarea {
  margin-right: 30px;
  color: gray;
  background-color: #fff8f3;
  border-radius: 10px;
  border: 10px solid #fff8f3;
  color: gray;
}
.hi-hello {
  width: 300px;
  height: 40px;
  background-color: #fff8f3;
  border-radius: 10px;
  border: 10px solid #fff8f3;
  color: gray;
}

